<div class="main">
  <div class="title">
    目指せ天和！！
  </div>
  <div class="content-box">
    <div class="haipai">
      <% @ripai.each do |pai| %>
        <%= image_tag "#{pai}.gif", class:"#" %>
      <% end %>
    </div>
    <div class="shanten">
      <% if @shanten <= -1%>
      <p>自摸</p>
      <% elsif @shanten == 0 %>
      <p>聴牌</p>
      <% else %>
      <p><%= @shanten %>シャンテン</p>
      <% end %>
    </div>
  </div>
  <div class="yakus-box">
    <div class="yaku-title">あがり役一覧</div>
    <div class="yaku-ran">
    <% @yakuall.each do |yaku| %>
      <%= yaku %>
    <% end %>
    </div>
  </div>
  <div class="charenge-btn">
    <%= link_to "Let's try", root_path , class: :load_btn %>
  </div>
</div>

<%= link_to "手動", root_path %>